<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/jamesdku">James</a>. He is a University of Arizona coding bootcamp student looking to make a splash into the coding world.
  </p>
  <br />
  <p>
    James wanted to acquire the skills needed to compete in a ever-increasing, technology-based job market. The U of A bootcamp allows him this opportunity.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">James McJunkin</h2>
      <br />
      <p>
        James McJunkin is a student of the U of A coding bootcamp. Before this he was a technician for a company called Scope Technologies. There he would map out houses & coporate buildings with a CAD program that would give estimates of materials needed to complete renovation jobs on roofs and siding.
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />